<div class="contenedor-footer row">
    <div class="content-foo col-sm-12 col-md-2 col-lg-2">
        <h4>Teléfono</h4>
        <p>+54-11-2307-7569</p>
    </div>
    <div class="content-foo col-sm-12 col-md-2 col-lg-2">
        <h4>Email</h4>
        <p>sergiovoices@gmail.com</p>
    </div>
    <div class="content-foo col-sm-12 col-md-2 col-lg-2">
        <h4>Ciudad</h4>
        <p>Buenos Aires - Argentina</p>
    </div>
    <div>
        <h2 class="titulo-final">&copy; SOA Developer | Sergio Ordóñez Abril</h2>
    </div>
</div>

