<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../../../assets/Logos AP/html.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#E74C3C'"
            [innerStrokeColor]="'#E67E22'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../../../assets/Logos AP/css.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="120"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#2980B9'"
            [innerStrokeColor]="'#5DADE2'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../../../assets/Logos AP/Javascript.png'"
            [showImage]="true"
            [imageHeight]="108"
            [imageWidth]="175"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#D68910'"
            [innerStrokeColor]="'
            #F4D03F'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [imageSrc]="'../../../assets/Logos AP/githubNegro.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#2C3E50'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#808B96'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#808B96'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#808B96'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
</div>
