<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/img/APLogo-20-20.png" alt="" id="Logo-AP">
            <img src="../../../assets/img/LogosInti.png" alt="" id="Logo-Ar">
        </div>
        <div class="redes"> 
            <a href="" class="logos"><img src="../../../assets/Logos AP/facebook.png" alt=""></a>
            <a href="" class="logos"><img src="../../../assets/Logos AP/instagram.png" alt=""></a>
            <a href="" class="logos"><img src="../../../assets/Logos AP/twitter.png "></a>
            <a href="" class="logos"><img src="../../../assets/Logos AP/linkedin.png" alt=""></a>
            <a href="" class="logos"><img src="../../../assets/Logos AP/github.png" alt=""></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
        </div>
    </div>
</div>
