<div class="row">
    <div class="secciones">
        <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="btn btn-info active" aria-current="page" href="#">Tengo interés en</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><button type="button" class="boton">Añadir Sección</button></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><button type="button" class="boton">Más</button></a>
            </li>
          </ul>
    </div>

</div>